html {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",
        "Luxi Sans", "DejaVu Sans",
        Tahoma, "Hiragino Sans GB",
        "Microsoft Yahei", sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    color: white;
    background-color: #3e98f0;
    border-radius: 0.3rem 0.3rem 0 0;
}

.left-icon {
    width: 20%;
}

.title {
    width: 60%;

}

.right-icon {
    width: 20%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    background-color: #3e98f0;
    border-top: 0.1rem solid lightskyblue;
    color: white;
    border-radius: 0 0 0.3rem 0.3rem;
}

.navbar-detail {
    height: 8rem;
    flex-wrap: wrap;
}
.navbar-item {
    text-decoration:none;
}
.detail-item {
    width: 25%;
    text-decoration:none;
}
.detail-header-left {
    width: 75%;
}

.reply-container {
    width: 100%;
}


.container a {
    text-decoration:none;
    color:white;
}

.article-container {
    padding: 0.25rem;
    background-color: #e2e2e2;
}

.cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    line-height: 200%;
    text-align: left;
    border-bottom: 0.15rem solid #e2e2e2;
    border-radius: 0.2rem;
    background-color: white;
}

.member {
    width: 20%;
}

.member img {
    border-radius: 0.5rem;
}

.title {
    width: 80%;
}

.link-label {
    text-decoration: none;
    color: #333
}

.info {
    border-radius: 0.2rem;
    color: #caa;
    margin-right: 0.2rem;
}

.topic-container {
    padding: 0.25rem;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
}

.topic {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.topic-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    line-height: 150%;
    border-bottom: 0.2rem solid #e2e2e2;
}

.left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
.left-info span {
    color: #caa;
}

.right-avater {
    width: 20%;
}

.right-avater-img {
    margin: 0.2rem;
    border-radius: 0.4rem;
}

.reply-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    line-height: 190%;
    background-color: white;
    border-bottom: 0.2rem solid #e2e2e2;
    border-radius: 0.2rem;
}
.reply-avatar {
    width: 10%;
    padding: 1rem;
}

.reply-content {
    width: 85%;
    padding: 0.4rem 1rem 0.4rem 0.1rem;
}

.reply-content span,a {
    color: #caa;
}

.rendered-content {
    overflow: hidden;
}

.topic-container img,.reply-container img {
    max-width: 22rem;
}

.onloading {
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    justify-content: center;
}

.onloading-circle{
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid gray;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: 1s ease-in-out infinite loading;
}

@keyframes loading {
    from {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    to {
        transform: translate3d(0, 0, 0) rotate(360deg);
    }
}

.ant-back-top {
    right: 1.8rem;
    bottom: 2rem;
    height: 2.5rem;
    width: 2.5rem;
}


